openapi: 3.0.0
info:
  description: スキーマ
  version: 1.0.0
  title: SaaSus Auth API Schema
  contact:
    name: Anti-Pattern
servers:
  - url: https://api.saasus.io/v1/auth
    description: Production API Server
tags:
  - name: basicInfo
    description: 基本情報
  - name: authInfo
    description: 認証情報
  - name: saasUser
    description: SaaS単位のユーザー
  - name: tenantUser
    description: Tenant単位のユーザー
  - name: userAttribute
    description: ユーザーの追加属性
  - name: tenantAttribute
    description: テナントの追加属性
  - name: role
    description: 役割(ロール)
  - name: tenant
    description: テナント
  - name: saasusTenant
    description: SaaSusテナント
  - name: env
    description: 環境情報
  - name: credential
    description: 認証・認可情報
  - name: invitation
    description: 招待
  - name: singleTenant
    description: シングルテナント管理
security:
  - Bearer: []
paths:
  /userinfo:
    get:
      tags:
        - userInfo
      operationId: GetUserInfo
      summary: ユーザー情報取得
      description: |
        SaaS利用ユーザ(登録ユーザ)のIDトークンを元に、ユーザ情報を取得します。
        IDトークンは、SaaSus Platform生成のログイン画面からログイン時にCallback URLに渡されます。
        サーバ側でそのURLからIDトークンを取得し、このAPIを呼ぶことにより、該当ユーザの情報が取得できます。
        取得した上には、所属テナントや役割(ロール)、料金プランなどが含まれているため、それを元に認可の実装を行うことが可能です。
      parameters:
        - in: query
          name: token
          description: IDトークン
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: ユーザー情報
                $ref: '#/components/schemas/UserInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /userinfo/search/email:
    get:
      tags:
        - userInfo
      operationId: GetUserInfoByEmail
      summary: メールアドレスからユーザー情報取得
      description: |
        メールアドレスを条件にユーザー情報を取得します
      parameters:
        - in: query
          name: email
          description: メールアドレス
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: ユーザー情報
                $ref: '#/components/schemas/UserInfo'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /basic-info:
    get:
      tags:
        - basicInfo
      operationId: GetBasicInfo
      summary: 基本設定情報の取得
      description: |
        SaaS ID を元に設定されているドメイン名と CNAME レコードを取得します。
        取得した CNAME レコードを DNS に設定することで、ログイン画面を生成します。
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: 基本設定情報一覧
                $ref: '#/components/schemas/BasicInfo'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - basicInfo
      operationId: UpdateBasicInfo
      summary: 基本設定情報の更新
      description: |
        SaaS ID を元にパラメータとして設定したドメイン名を設定更新します。
        CNAME レコードが生成されますので、 DNS に設定して下さい。
        既に稼働中の SaaS アプリケーションに設定している場合には、動作に影響があります。
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBasicInfoParam'
      responses:
        '200':
          description: OK
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth-info:
    get:
      tags:
        - authInfo
      operationId: GetAuthInfo
      summary: 認証情報を取得
      description: |
        ログイン後に認証情報を渡す SaaS の URL を取得します。
        ここで取得した URL へ認証情報を渡し、SaaSus SDK を利用してこの Callback の実装をすることが可能となります。
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: 基本設定情報一覧
                $ref: '#/components/schemas/AuthInfo'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - authInfo
      operationId: UpdateAuthInfo
      summary: 認証情報を更新
      description: |
        ログイン後に認証情報を渡す SaaS の URL を登録します。
        ここで登録した URL に認証情報を渡し、SaaSus SDK を利用してこの Callback の実装をすることが可能となります。
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAuthInfoParam'
      responses:
        '200':
          description: OK
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /users:
    get:
      tags:
        - saasUser
      operationId: GetSaasUsers
      summary: ユーザー一覧を取得
      description: |
        SaaSのユーザー全件を取得します。
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: SaaS単位の全ユーザー一覧
                $ref: '#/components/schemas/SaasUsers'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - saasUser
      operationId: CreateSaasUser
      summary: SaaSにユーザーを作成
      description: |
        SaaSにユーザーを作成します。
        passwordを空にした場合、登録されたメールアドレスに対して仮パスワードを送信します。
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSaasUserParam'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                title: 作成したユーザー
                $ref: '#/components/schemas/SaasUser'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /users/{user_id}:
    get:
      tags:
        - saasUser
      operationId: GetSaasUser
      summary: ユーザー情報を取得
      description: |
        ユーザーIDからユーザー情報を取得します。
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaasUser'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - saasUser
      operationId: DeleteSaasUser
      summary: ユーザー情報を削除
      description: |
        ユーザーIDを元に一致するユーザーをテナントからすべて削除し、SaaSからも削除します。
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /users/{user_id}/password:
    patch:
      tags:
        - saasUser
      operationId: UpdateSaasUserPassword
      summary: パスワードを変更
      description: |
        ユーザーのログインパスワードを変更します。
      parameters:
        - $ref: '#/components/parameters/UserId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSaasUserPasswordParam'
      responses:
        '200':
          description: OK
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /users/{user_id}/email:
    patch:
      tags:
        - saasUser
      operationId: UpdateSaasUserEmail
      summary: メールアドレスを変更
      description: |
        ユーザーのメールアドレスを変更します。
      parameters:
        - $ref: '#/components/parameters/UserId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSaasUserEmailParam'
      responses:
        '200':
          description: OK
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /users/{user_id}/email/request:
    post:
      tags:
        - saasUser
      operationId: RequestEmailUpdate
      summary: ユーザーのメールアドレス変更要求
      description: |
        ユーザーのメールアドレス変更を要求します。
        要求されたメールアドレスに対して検証コードを送信します。
        ユーザーのアクセストークンが必要です。
        検証コードの有効期限は24時間です。
      parameters:
        - $ref: '#/components/parameters/UserId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestEmailUpdateParam'
      responses:
        '200':
          description: OK
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /users/{user_id}/email/confirm:
    post:
      tags:
        - saasUser
      operationId: ConfirmEmailUpdate
      summary: ユーザーのメールアドレス変更確認
      description: |
        ユーザーのメールアドレス変更確認のためにコードを検証します。
        ユーザーのアクセストークンが必要です。
      parameters:
        - $ref: '#/components/parameters/UserId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmEmailUpdateParam'
      responses:
        '200':
          description: OK
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /users/{user_id}/attributes:
    patch:
      tags:
        - saasUser
      operationId: UpdateSaasUserAttributes
      summary: SaaSユーザーの属性情報を更新
      description: |
        SaaSユーザーの追加属性を更新します。
      parameters:
        - $ref: '#/components/parameters/UserId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSaasUserAttributesParam'
      responses:
        '200':
          description: OK
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /users/{user_id}/mfa/software-token:
    put:
      tags:
        - saasUser
      operationId: UpdateSoftwareToken
      summary: 認証アプリケーションを登録
      description: |
        認証アプリケーションを登録します。
      parameters:
        - $ref: '#/components/parameters/UserId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSoftwareTokenParam'
      responses:
        '200':
          description: OK
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /users/{user_id}/mfa/software-token/secret-code:
    post:
      tags:
        - saasUser
      operationId: CreateSecretCode
      summary: 認証アプリケーション登録用のシークレットコードを作成
      description: |
        認証アプリケーション登録用のシークレットコードを作成します。
      parameters:
        - $ref: '#/components/parameters/UserId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSecretCodeParam'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SoftwareTokenSecretCode'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /users/{user_id}/mfa/preference:
    get:
      tags:
        - saasUser
      operationId: GetUserMfaPreference
      summary: ユーザーのMFA設定を取得
      description: |
        ユーザーのMFA設定を取得します。
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MfaPreference'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags:
        - saasUser
      operationId: UpdateUserMfaPreference
      summary: ユーザーのMFA設定を更新
      description: |
        ユーザーのMFA設定を更新します。
      parameters:
        - $ref: '#/components/parameters/UserId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserMfaPreferenceParam'
      responses:
        '200':
          description: OK
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /users/{user_id}/providers/{provider_name}:
    delete:
      tags:
        - saasUser
      operationId: UnlinkProvider
      summary: 外部IDプロバイダの連携解除
      description: |
        外部IDプロバイダの連携を解除します。
      parameters:
        - in: path
          name: provider_name
          schema:
            type: string
            example: Google
          required: true
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          description: OK
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /tenants/all/users:
    get:
      tags:
        - tenantUser
      operationId: GetAllTenantUsers
      summary: ユーザー一覧を取得
      description: |
        テナントに所属しているユーザー全件を取得します。
        複数テナントに所属する同一ユーザーは別のオブジェクトとして返却されます。
        idは一意ではありません。
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Users'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /tenants/all/users/{user_id}:
    get:
      tags:
        - tenantUser
      operationId: GetAllTenantUser
      summary: ユーザー情報を取得
      description: |
        ユーザーIDからテナントに所属しているユーザー情報を取得します。
        複数テナントに所属している場合は別のオブジェクトとして返却されます。
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Users'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /tenants/{tenant_id}/users:
    get:
      tags:
        - tenantUser
      operationId: GetTenantUsers
      summary: テナントのユーザー一覧を取得
      description: |
        テナントに所属するユーザーを全件取得します。
        idは一意です。
      parameters:
        - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Users'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - tenantUser
      operationId: CreateTenantUser
      summary: テナントにユーザーを作成
      description: |
        テナントにユーザーを作成します。
        attributesを空のオブジェクトにした場合、追加属性は空で作成されます。
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTenantUserParam'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                title: 作成されたユーザー
                $ref: '#/components/schemas/User'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /tenants/{tenant_id}/users/{user_id}:
    get:
      tags:
        - tenantUser
      operationId: GetTenantUser
      summary: テナントのユーザー情報を取得
      description: |
        テナントのユーザーをIDから一件取得します。
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags:
        - tenantUser
      operationId: UpdateTenantUser
      summary: テナントのユーザー属性情報を更新
      description: |
        テナントのユーザー属性情報を更新します。
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/UserId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTenantUserParam'
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - tenantUser
      operationId: DeleteTenantUser
      summary: テナントのユーザー情報を削除
      description: |
        テナントからユーザーを削除します。
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /tenants/{tenant_id}/users/{user_id}/envs/{env_id}/roles:
    post:
      tags:
        - tenantUser
      operationId: CreateTenantUserRoles
      summary: テナントのユーザー情報に役割(ロール)を作成
      description: |
        テナントのユーザーに役割(ロール)を作成します。
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/UserId'
        - $ref: '#/components/parameters/EnvId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTenantUserRolesParam'
      responses:
        '201':
          description: Created
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /tenants/{tenant_id}/users/{user_id}/envs/{env_id}/roles/{role_name}:
    delete:
      tags:
        - tenantUser
      operationId: DeleteTenantUserRole
      summary: テナントのユーザーから役割(ロール)を削除
      description: |
        テナントのユーザーから役割(ロール)を削除します。
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/UserId'
        - $ref: '#/components/parameters/EnvId'
        - $ref: '#/components/parameters/RoleName'
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /roles:
    get:
      tags:
        - role
      operationId: GetRoles
      summary: 役割(ロール)一覧を取得
      description: |
        登録されている役割(ロール)を一覧として取得します。
        ここで定義した役割をユーザーに付与することによって、SaaS側で役割ベースの認可を実装することが用意になります。
        また、同じユーザーでも、属するテナント・環境ごとに持っている役割を変えることが可能です。
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: 役割(ロール)一覧
                $ref: '#/components/schemas/Roles'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - role
      operationId: CreateRole
      summary: 役割(ロール)を作成
      description: |
        役割(ロール)を作成します。
        ここで作成した役割をユーザーに付与することによって、SaaS側で役割ベースの認可を実装することが用意になります。
        また、同じユーザーでも、属するテナント・環境ごとに持っている役割を変えることが可能です。
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRoleParam'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                title: 作成された役割(ロール)
                $ref: '#/components/schemas/Role'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /roles/{role_name}:
    delete:
      tags:
        - role
      operationId: DeleteRole
      summary: 役割(ロール)を削除
      description: |
        役割(ロール)を削除します。
      parameters:
        - $ref: '#/components/parameters/RoleName'
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /user-attributes:
    get:
      tags:
        - userAttribute
      operationId: GetUserAttributes
      summary: ユーザー属性の一覧を取得
      description: >
        SaaSus Platform にて保持するユーザーの追加属性を取得します。

        例えば、ユーザー名を持たせる、誕生日を持たせるなど、ユーザーに紐付いた項目の定義を行うことができます。

        一方で、個人情報を SaaSus Platform 側に持たせたくない場合は、このユーザー属性定義を行わずに SaaS
        側で個人情報を持つことを検討してください。
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: ユーザー属性一覧
                $ref: '#/components/schemas/UserAttributes'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - userAttribute
      operationId: CreateUserAttribute
      summary: ユーザー属性の作成
      description: >
        SaaSus Platform にて保持するユーザーの追加属性を登録します。

        テナント毎に異なる値を持たせることができます。

        例えば、ユーザー名を持たせる、誕生日を持たせるなど、ユーザーに紐付いた項目の定義を行うことができます。

        一方で、個人情報を SaaSus Platform 側に持たせたくない場合は、このユーザー属性定義を行わずに SaaS
        側で個人情報を持つことを検討してください。
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserAttributeParam'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                title: 作成されたUserAttribute
                $ref: '#/components/schemas/Attribute'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /user-attributes/{attribute_name}:
    delete:
      tags:
        - userAttribute
      operationId: DeleteUserAttribute
      summary: ユーザー属性の削除
      description: |
        SaaSus Platform にて保持するユーザーの追加属性を削除します。
      parameters:
        - in: path
          name: attribute_name
          description: 属性名
          schema:
            type: string
            example: birthday
          required: true
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /saas-user-attributes:
    post:
      tags:
        - userAttribute
      operationId: CreateSaasUserAttribute
      summary: SaaSユーザー属性の作成
      description: |
        SaaSus Platform にて保持するSaaSユーザーの追加属性を登録します。
        すべてのテナントに対して共通の値を持たせることができます。
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSaasUserAttributeParam'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                title: 作成されたUserAttribute
                $ref: '#/components/schemas/Attribute'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /tenant-attributes:
    get:
      tags:
        - tenantAttribute
      operationId: GetTenantAttributes
      summary: テナント属性の一覧を取得
      description: |
        SaaSus Platform で管理する、テナントの追加属性の定義を取得します。
        例えばテナントの呼び名やメモなどをを持たせることができ、SaaSからSaaSus SDK/APIを利用して取得することができます。
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: テナント追加属性一覧
                $ref: '#/components/schemas/TenantAttributes'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - tenantAttribute
      operationId: CreateTenantAttribute
      summary: テナント属性の作成
      description: |
        SaaSus Platform で管理する、テナントの追加属性の登録を行います。
        例えばテナントの呼び名やメモなどをを持たせることができ、SaaSからSaaSus SDK/APIを利用して取得することができます。
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTenantAttributeParam'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                title: 作成されたテナント属性情報
                $ref: '#/components/schemas/Attribute'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /tenant-attributes/{attribute_name}:
    delete:
      tags:
        - tenantAttribute
      operationId: DeleteTenantAttribute
      summary: テナント属性の削除
      description: |
        SaaSus Platform で管理する、テナントの追加属性の削除を行います。
      parameters:
        - in: path
          name: attribute_name
          description: 属性名
          schema:
            type: string
            example: birthday
          required: true
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /tenants:
    get:
      tags:
        - tenant
      operationId: GetTenants
      summary: テナント一覧取得
      description: |
        SaaSus Platform で管理する、テナント情報の取得を行います。
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenants'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - tenant
      operationId: CreateTenant
      summary: テナントを作成
      description: |
        SaaSus Platform で管理する、テナント情報を作成します。
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTenantParam'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                title: 作成されたTenant
                $ref: '#/components/schemas/Tenant'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /tenants/{tenant_id}:
    get:
      tags:
        - tenant
      operationId: GetTenant
      summary: テナント情報を取得
      description: |
        SaaSus Platform で管理する、テナントの詳細情報を取得します。
      parameters:
        - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: テナント情報
                $ref: '#/components/schemas/TenantDetail'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags:
        - tenant
      operationId: UpdateTenant
      summary: テナント情報を更新
      description: |
        SaaSus Platform で管理する、テナントの詳細情報を更新します。
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTenantParam'
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - tenant
      operationId: DeleteTenant
      summary: テナント情報を削除
      description: |
        SaaSus Platform で管理する、テナントの詳細情報を削除します。
      parameters:
        - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: OK
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /tenants/{tenant_id}/plans:
    put:
      tags:
        - tenant
      operationId: UpdateTenantPlan
      summary: テナントのプラン情報を更新
      description: |
        SaaSus Platform で管理しているテナントのプラン情報を更新します。
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTenantPlanParam'
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /tenants/{tenant_id}/billing-info:
    put:
      tags:
        - tenant
      operationId: UpdateTenantBillingInfo
      summary: テナントの請求先情報を更新
      description: |
        SaaSus Platform で管理しているテナントの請求先情報を更新します。
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTenantBillingInfoParam'
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /tenants/{tenant_id}/invitations:
    get:
      tags:
        - invitation
      operationId: GetTenantInvitations
      summary: テナントの招待一覧を取得
      description: |
        テナントへの招待一覧を取得します。
      parameters:
        - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: 招待一覧
                $ref: '#/components/schemas/Invitations'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - invitation
      operationId: CreateTenantInvitation
      summary: テナントへの招待を作成
      description: |
        テナントへの招待を作成します。
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTenantInvitationParam'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                title: 作成された招待
                $ref: '#/components/schemas/Invitation'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /tenants/{tenant_id}/invitations/{invitation_id}:
    get:
      tags:
        - invitation
      operationId: GetTenantInvitation
      summary: テナントの招待情報を取得
      description: |
        テナントへの招待情報を取得します。
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/InvitationId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: 招待情報
                $ref: '#/components/schemas/Invitation'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - invitation
      operationId: DeleteTenantInvitation
      summary: テナントへの招待を削除
      description: |
        テナントへの招待を削除します。
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/InvitationId'
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /invitations/{invitation_id}/validity:
    get:
      tags:
        - invitation
      operationId: GetInvitationValidity
      summary: テナントへの招待の有効性を取得
      description: |
        テナントへの招待の有効性を取得します。
      parameters:
        - $ref: '#/components/parameters/InvitationId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: 招待の有効性
                $ref: '#/components/schemas/InvitationValidity'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /invitations/{invitation_id}/validate:
    patch:
      tags:
        - invitation
      operationId: ValidateInvitation
      summary: テナントへの招待を検証
      description: |
        テナントへの招待を検証します。
      parameters:
        - $ref: '#/components/parameters/InvitationId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateInvitationParam'
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /tenants/{tenant_id}/identity-providers:
    get:
      tags:
        - tenant
      operationId: GetTenantIdentityProviders
      summary: テナント毎の外部IDプロバイダ取得
      description: |
        テナント毎の外部IDプロバイダ経由のサインイン情報を取得します。
      parameters:
        - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: テナント毎の外部IDプロバイダのサインイン情報
                $ref: '#/components/schemas/TenantIdentityProviders'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - tenant
      operationId: UpdateTenantIdentityProvider
      summary: テナント毎の外部IDプロバイダ更新
      description: |
        テナント毎の外部IDプロバイダ経由のサインイン情報を更新します。
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTenantIdentityProviderParam'
      responses:
        '200':
          description: OK
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /external-users/request:
    post:
      tags:
        - saasUser
      operationId: RequestExternalUserLink
      summary: 外部アカウントのユーザー連携要求
      description: |
        外部アカウントのユーザー連携を要求します。
        アクセストークンから連携するユーザーのメールアドレスを取得し、そのメールアドレスに対して検証コードを送信します。
        検証コードの有効期限は24時間です。
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestExternalUserLinkParam'
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /external-users/confirm:
    post:
      tags:
        - saasUser
      operationId: ConfirmExternalUserLink
      summary: 外部アカウントのユーザーの連携確認
      description: |
        外部アカウントのユーザー連携確認のためにコードを検証します。
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmExternalUserLinkParam'
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /notification-messages:
    get:
      tags:
        - basicInfo
      operationId: FindNotificationMessages
      summary: 通知メールテンプレートを取得
      description: |
        各種通知メールテンプレートを取得します。
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: 通知メールテンプレート
                $ref: '#/components/schemas/NotificationMessages'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - basicInfo
      operationId: UpdateNotificationMessages
      summary: 通知メールテンプレートを更新
      description: |
        各種通知メールテンプレート更新します。
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateNotificationMessagesParam'
      responses:
        '200':
          description: OK
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /identity-providers:
    get:
      tags:
        - authInfo
      operationId: GetIdentityProviders
      summary: cognitoに設定している外部プロバイダ経由のサインイン情報取得
      description: |
        cognitoに設定している外部プロバイダ経由のサインイン情報を取得します。
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: 外部IDプロバイダのサインイン情報
                $ref: '#/components/schemas/IdentityProviders'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - authInfo
      operationId: UpdateIdentityProvider
      summary: 外部IDプロバイダのサインイン情報更新
      description: |
        外部IDプロバイダのサインイン情報を更新します。
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateIdentityProviderParam'
      responses:
        '200':
          description: OK
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /sign-in-settings:
    get:
      tags:
        - authInfo
      operationId: GetSignInSettings
      summary: パスワード要件を取得
      description: |
        ユーザーパスワードの要件設定を取得します。
        アルファベット、数字、記号の組み合わせで、桁数を長くすれば解読されづらい安全なパスワードを設定することが可能となります。
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: パスワード要件
                $ref: '#/components/schemas/SignInSettings'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - authInfo
      operationId: UpdateSignInSettings
      summary: パスワード要件を更新
      description: |
        ユーザーパスワードの要件設定を更新します。
        アルファベット、数字、記号の組み合わせで、桁数を長くすれば解読されづらい安全なパスワードを設定することが可能となります。
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSignInSettingsParam'
      responses:
        '200':
          description: OK
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /customize-pages:
    get:
      tags:
        - basicInfo
      operationId: GetCustomizePages
      summary: 認証系画面設定情報取得
      description: |
        認証系画面設定情報（新規登録・ログイン・パスワードリセット等）を取得します。
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: カスタマイズ画面情報
                $ref: '#/components/schemas/CustomizePages'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags:
        - basicInfo
      operationId: UpdateCustomizePages
      summary: 認証系画面設定情報設定
      description: |
        認証系画面設定情報（新規登録・ログイン・パスワードリセット等）を更新します。
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomizePagesParam'
      responses:
        '200':
          description: OK
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /customize-page-settings:
    get:
      tags:
        - basicInfo
      operationId: GetCustomizePageSettings
      summary: 認証認可基本情報取得
      description: |
        認証認可基本情報を取得します。
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: 認証認可基本情報
                $ref: '#/components/schemas/CustomizePageSettings'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags:
        - basicInfo
      operationId: UpdateCustomizePageSettings
      summary: 認証認可基本情報更新
      description: |
        認証認可基本情報を更新します。
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomizePageSettingsParam'
      responses:
        '200':
          description: OK
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /envs:
    get:
      tags:
        - env
      operationId: GetEnvs
      summary: 環境情報一覧を取得
      description: |
        登録されている環境情報を取得します。
        連携のテストや開発用環境や実際の運用で利用する環境など複数の環境を定義することができます。
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envs'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - env
      operationId: CreateEnv
      summary: 環境情報を作成
      description: |
        環境情報を作成します。
        連携のテストや開発用環境や実際の運用で利用する環境など複数の環境を定義することができます。
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEnvParam'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Env'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /envs/{env_id}:
    get:
      tags:
        - env
      parameters:
        - $ref: '#/components/parameters/EnvId'
      operationId: GetEnv
      summary: 環境情報を取得
      description: |
        環境情報の詳細を取得します。
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Env'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags:
        - env
      parameters:
        - $ref: '#/components/parameters/EnvId'
      operationId: UpdateEnv
      summary: 環境情報を更新
      description: |
        環境情報を更新します。
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEnvParam'
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - env
      parameters:
        - $ref: '#/components/parameters/EnvId'
      operationId: DeleteEnv
      summary: 環境情報を削除
      description: |
        環境情報を削除します。idが3の環境は削除できません。
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /stripe/init:
    patch:
      tags:
        - tenant
      operationId: CreateTenantAndPricing
      summary: stripe初期設定
      description: |
        billing経由でstripeへ初期情報を設定
      responses:
        '200':
          description: OK
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /stripe:
    delete:
      tags:
        - tenant
      operationId: DeleteStripeTenantAndPricing
      summary: stripe上の顧客情報・商品情報の削除
      description: |
        stripe上の顧客情報・商品情報を削除します
      responses:
        '200':
          description: OK
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /credentials:
    get:
      tags:
        - credential
      operationId: GetAuthCredentials
      summary: 認証・認可情報の取得
      description: |
        一時コードまたはリフレッシュトークンを利用してIDトークン・アクセストークン・リフレッシュトークンを取得する。
      parameters:
        - $ref: '#/components/parameters/Code'
        - $ref: '#/components/parameters/AuthFlow'
        - $ref: '#/components/parameters/RefreshToken'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Credentials'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - credential
      operationId: CreateAuthCredentials
      summary: 認証・認可情報の保存
      description: |
        引数のIDトークン・アクセストークン・リフレッシュトークンを一時保存し取得用の一時コードを返却する。
        一時コードの有効期間は発行から10秒です。
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAuthCredentialsParam'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationTempCode'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /sign-up:
    post:
      tags:
        - saasUser
      operationId: SignUp
      summary: 新規登録
      description: |
        ユーザーを新規登録します。登録されたメールアドレスに対して仮パスワードを送信します。
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignUpParam'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                title: 作成したユーザー
                $ref: '#/components/schemas/SaasUser'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /sign-up/resend:
    post:
      tags:
        - saasUser
      operationId: ResendSignUpConfirmationEmail
      summary: 新規登録時の確認メール再送信
      description: |
        新規登録時の仮パスワードを再送信します。
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResendSignUpConfirmationEmailParam'
      responses:
        '200':
          description: OK
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /aws-marketplace/sign-up:
    post:
      tags:
        - saasUser
      operationId: SignUpWithAwsMarketplace
      summary: AWS Marketplaceによるユーザー新規登録
      description: |
        AWS Marketplaceと連携したユーザーを新規登録します。登録されたメールアドレスに対して仮パスワードを送信します。
        Registration Tokenが有効でない場合はエラーを返却します。
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignUpWithAwsMarketplaceParam'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                title: 作成したユーザー
                $ref: '#/components/schemas/SaasUser'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /aws-marketplace/sign-up-confirm:
    post:
      tags:
        - saasUser
      operationId: ConfirmSignUpWithAwsMarketplace
      summary: AWS Marketplaceによるユーザー新規登録の確定
      description: |
        AWS Marketplaceと連携したユーザー新規登録を確定します。AWS Marketplaceと連携したテナントを新規作成します。
        Registration Tokenが有効でない場合はエラーを返却します。
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmSignUpWithAwsMarketplaceParam'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                title: 作成したテナント
                $ref: '#/components/schemas/Tenant'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /aws-marketplace/link:
    patch:
      tags:
        - saasUser
      operationId: LinkAwsMarketplace
      summary: AWS Marketplaceと既存のテナントの連携
      description: |
        AWS Marketplaceと既存のテナントを連携します。
        Registration Tokenが有効でない場合はエラーを返却します。
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkAwsMarketplaceParam'
      responses:
        '200':
          description: OK
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /plans/reset:
    put:
      tags:
        - tenant
      operationId: ResetPlan
      summary: プランに関わる情報を全削除
      description: |
        料金プランに関わる情報を全削除します。
        テナントに連携されたプランとプラン定義を削除します。
        Stripe連携している場合、連携が解除されます。
      responses:
        '200':
          description: OK
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /single-tenant/cloudformation-launch-stack-link:
    get:
      tags:
        - singleTenant
      operationId: GetCloudFormationLaunchStackLinkForSingleTenant
      summary: SingleTenant用CloudFormationスタック起動リンク取得
      description: |
        SingleTenant用CloudFormationスタック起動リンクを取得します。
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudFormationLaunchStackLink'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /single-tenant/settings:
    get:
      tags:
        - singleTenant
      operationId: GetSingleTenantSettings
      summary: シングルテナント機能の設定情報を取得する
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleTenantSettings'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags:
        - singleTenant
      operationId: UpdateSingleTenantSettings
      summary: シングルテナント機能の設定情報を更新する
      description: |
        シングルテナント機能の設定情報を更新します。
        シングルテナント機能の有効化ができない場合はエラーを返します。
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSingleTenantSettingsParam'
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /tenants/{tenant_id}/stripe-customer:
    get:
      tags:
        - tenant
      operationId: GetStripeCustomer
      summary: Stripe顧客情報取得
      description: |
        テナントに連携されているStripe顧客情報を取得します。
        サブスクリプション情報も含まれます。
      parameters:
        - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: Stripe顧客情報
                $ref: '#/components/schemas/StripeCustomer'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
      description: Credentials or access token for API
  parameters:
    UserId:
      in: path
      name: user_id
      description: ユーザーID
      schema:
        type: string
        example: f94bfffc-8be2-11ec-b41a-0242ac120004
      required: true
    RoleName:
      in: path
      name: role_name
      description: 役割(ロール)名
      schema:
        type: string
        example: admin
      required: true
    TenantId:
      in: path
      name: tenant_id
      description: テナントID
      required: true
      schema:
        $ref: '#/components/schemas/Uuid'
    EnvId:
      in: path
      name: env_id
      description: 環境ID
      required: true
      schema:
        $ref: '#/components/schemas/Id'
    ApiKey:
      in: path
      name: api_key
      description: APIキー
      schema:
        type: string
        example: ZDMiIHN0UmVmOmRvY3VtZW50SUQ9Inhtc
      required: true
    AuthFlow:
      in: query
      name: auth-flow
      description: |
        認証フロー
        tempCodeAuth: 一時コードを利用した認証情報の取得
        refreshTokenAuth: リフレッシュトークンを利用した認証情報の取得
        指定されていない場合は tempCodeAuth になります
      schema:
        type: string
        enum:
          - tempCodeAuth
          - refreshTokenAuth
    Code:
      in: query
      name: code
      description: 一時コード
      schema:
        $ref: '#/components/schemas/Uuid'
    RefreshToken:
      in: query
      name: refresh-token
      description: リフレッシュトークン
      schema:
        type: string
    InvitationId:
      in: path
      name: invitation_id
      description: 招待ID
      required: true
      schema:
        $ref: '#/components/schemas/Uuid'
  schemas:
    UserInfo:
      title: ユーザー情報
      type: object
      properties:
        id:
          $ref: '#/components/schemas/Uuid'
          description: uuid
        email:
          type: string
          description: メールアドレス
          example: hoge@example.com
        user_attribute:
          type: object
          additionalProperties: true
          example:
            address: 東京都
            employee_number: 100
          description: ユーザー追加属性
        tenants:
          type: array
          items:
            $ref: '#/components/schemas/UserAvailableTenant'
          description: テナント情報
      required:
        - id
        - email
        - user_attribute
        - tenants
    BasicInfo:
      title: 基本設定情報
      type: object
      properties:
        domain_name:
          type: string
          example: dev.saasus.io
          description: ドメイン名
        is_dns_validated:
          type: boolean
          example: false
          description: DNSレコードの検証結果
        certificate_dns_record:
          $ref: '#/components/schemas/DnsRecord'
          description: 代替ドメイン名
        cloud_front_dns_record:
          $ref: '#/components/schemas/DnsRecord'
          description: Cloud Front DNS レコード
        dkim_dns_records:
          type: array
          items:
            $ref: '#/components/schemas/DnsRecord'
          description: DKIM DNS レコード
        default_domain_name:
          type: string
          description: デフォルトドメイン名
          example: d78bh0l3saarv.cloudfront.net
        from_email_address:
          type: string
          description: 認証メールの送信元メールアドレス
          example: test@example.com
        reply_email_address:
          type: string
          description: 認証メールの返信元メールアドレス
          example: test@example.com
        is_ses_sandbox_granted:
          type: boolean
          example: false
          description: SESのサンドボックス解除及びCognitoのSES設定結果
      required:
        - domain_name
        - is_dns_validated
        - certificate_dns_record
        - cloud_front_dns_record
        - dkim_dns_records
        - default_domain_name
        - from_email_address
        - reply_email_address
        - is_ses_sandbox_granted
    DnsRecord:
      title: DNSレコード
      type: object
      properties:
        type:
          type: string
          description: CNAMEリソースレコード
          enum:
            - CNAME
          example: CNAME
        name:
          type: string
          example: _k90jaskdfawehro.domain-of-saasus-client.com.
          description: レコード名
        value:
          type: string
          example: _cmojwc239j102mosd9.acm-validations.aws.
          description: 値
      required:
        - type
        - name
        - value
    AuthInfo:
      title: 認証情報
      type: object
      properties:
        callback_url:
          type: string
          example: https://example.com/callback
          description: 認証後遷移先
      required:
        - callback_url
    SaasUser:
      title: SaaSユーザー
      type: object
      properties:
        id:
          $ref: '#/components/schemas/Uuid'
          description: ユーザーID
        email:
          type: string
          example: hoge@example.com
          description: メールアドレス
        attributes:
          type: object
          additionalProperties: true
          example:
            address: 東京都
            birthday: 19940925
            sex: 男
          description: |
            属性情報
      required:
        - id
        - email
        - attributes
    SaasUsers:
      title: SaaSユーザー一覧
      type: object
      properties:
        users:
          type: array
          items:
            $ref: '#/components/schemas/SaasUser'
      required:
        - users
    CreateSaasUserParam:
      title: SaaSユーザー作成パラメータ
      type: object
      properties:
        email:
          type: string
          example: hoge@example.com
          description: メールアドレス
        password:
          type: string
          example: '@Pass#Word1'
          description: パスワード
      required:
        - email
    User:
      title: ユーザー
      type: object
      properties:
        id:
          type: string
          example: f94bfffc-8be2-11ec-b41a-0242ac120004
          description: ユーザーID
        tenant_id:
          $ref: '#/components/schemas/Uuid'
          description: テナントID
        tenant_name:
          type: string
          example: saasus
          description: テナント名
        email:
          type: string
          example: hoge@example.com
          description: メールアドレス
        attributes:
          type: object
          additionalProperties: true
          example:
            address: 東京都
            birthday: 19940925
            sex: 男
          description: |
            属性情報（SaaS 開発コンソールでユーザー属性定義を行い設定された情報を取得します）
        envs:
          type: array
          items:
            $ref: '#/components/schemas/UserEnv'
      required:
        - id
        - tenant_id
        - tenant_name
        - email
        - attributes
        - envs
    Users:
      title: ユーザー一覧
      type: object
      properties:
        users:
          type: array
          items:
            $ref: '#/components/schemas/User'
      required:
        - users
    UserEnv:
      title: ユーザーのenv、役割一覧
      description: ユーザーの環境情報、役割(ロール)情報
      $ref: '#/components/schemas/UserAvailableEnv'
    ApiKeys:
      title: APIキー一覧
      type: object
      properties:
        api_keys:
          description: APIキー
          type: array
          items:
            type: string
            example: 1234567890abcdef
      required:
        - api_keys
    UpdateBasicInfoParam:
      title: 基本設定の更新パラメータ
      type: object
      properties:
        domain_name:
          type: string
          example: dev.saasus.io
          description: ドメイン名
        from_email_address:
          type: string
          description: 認証メールの送信元メールアドレス
          example: test@example.com
        reply_email_address:
          type: string
          description: 認証メールの返信元メールアドレス
          example: test@example.com
      required:
        - domain_name
        - from_email_address
    UpdateAuthInfoParam:
      title: 認証情報の更新パラメータ
      $ref: '#/components/schemas/AuthInfo'
    CreateTenantUserParam:
      title: ユーザーの作成パラメータ
      type: object
      properties:
        email:
          type: string
          example: hoge@example.com
          description: メールアドレス
        attributes:
          type: object
          additionalProperties: true
          example:
            address: 東京都
            birthday: 19940925
            sex: 男
          description: |
            属性情報（SaaS 開発コンソールでユーザー属性定義を行い設定された情報を取得します）
      required:
        - email
        - attributes
    UpdateTenantUserParam:
      title: ユーザーの更新パラメータ
      type: object
      properties:
        attributes:
          type: object
          additionalProperties: true
          example:
            address: 東京都
            birthday: 19940925
            sex: 男
          description: |
            属性情報（SaaS 開発コンソールでユーザー属性定義を行い設定された情報を取得します）
      required:
        - attributes
    UpdateSaasUserPasswordParam:
      title: ユーザーパスワード更新パラメータ
      type: object
      properties:
        password:
          type: string
          example: '@Pass#Word1'
          description: パスワード
      required:
        - password
    UpdateSaasUserEmailParam:
      title: ユーザーのメールアドレス更新パラメータ
      type: object
      properties:
        email:
          type: string
          example: hoge@example.com
          description: メールアドレス
      required:
        - email
    RequestEmailUpdateParam:
      title: ユーザーのメールアドレス変更要求パラメータ
      type: object
      properties:
        email:
          type: string
          example: hoge@example.com
          description: メールアドレス
        access_token:
          title: アクセストークン
          type: string
      required:
        - email
        - access_token
    ConfirmEmailUpdateParam:
      title: ユーザーのメールアドレス変更確認パラメータ
      type: object
      properties:
        code:
          title: 検証コード
          type: string
          example: '123456'
        access_token:
          title: アクセストークン
          type: string
      required:
        - code
        - access_token
    UpdateSaasUserAttributesParam:
      title: SaaSユーザー属性の更新パラメータ
      type: object
      properties:
        attributes:
          type: object
          additionalProperties: true
          example:
            address: 東京都
            birthday: 19940925
            sex: 男
          description: |
            属性情報
      required:
        - attributes
    CreateUserAttributeParam:
      title: ユーザー属性の作成パラメータ
      $ref: '#/components/schemas/Attribute'
    CreateSaasUserAttributeParam:
      title: SaaSユーザー属性の作成パラメータ
      $ref: '#/components/schemas/Attribute'
    CreateTenantAttributeParam:
      title: テナント追加属性の作成パラメータ
      $ref: '#/components/schemas/Attribute'
    CreateRoleParam:
      title: 役割(ロール)の作成パラメータ
      $ref: '#/components/schemas/Role'
    CreateTenantUserRolesParam:
      title: ユーザーの役割(ロール)追加パラメータ
      type: object
      properties:
        role_names:
          type: array
          description: 役割(ロール)情報
          items:
            type: string
            example: admin
      required:
        - role_names
    Id:
      type: integer
      x-go-type: uint64
      example: 1
    Uuid:
      type: string
      example: 69e732d6-8ecc-45c4-c2eb-8438f7ffe775
    Attribute:
      type: object
      properties:
        attribute_name:
          type: string
          example: birthday
          description: 属性名
        display_name:
          type: string
          example: Birthday
          description: 表示名
        attribute_type:
          $ref: '#/components/schemas/AttributeType'
      required:
        - attribute_name
        - display_name
        - attribute_type
    UserAttributes:
      title: ユーザー属性一覧
      type: object
      properties:
        user_attributes:
          type: array
          description: ユーザー属性定義
          items:
            $ref: '#/components/schemas/Attribute'
      required:
        - user_attributes
    TenantAttributes:
      title: テナントの追加属性一覧
      type: object
      properties:
        tenant_attributes:
          type: array
          description: テナント属性定義
          items:
            $ref: '#/components/schemas/Attribute'
      required:
        - tenant_attributes
    AttributeType:
      type: string
      enum:
        - string
        - number
        - bool
        - date
      description: |
        型（dateはYYYY-MM-DDの形式で使用する事ができます。）
    SaasId:
      title: SaaSID
      type: object
      properties:
        tenant_id:
          $ref: '#/components/schemas/Uuid'
          description: テナントID
        env_id:
          $ref: '#/components/schemas/Id'
          description: 環境ID
        saas_id:
          type: string
          example: ede66c43-9b9d-4222-93ed-5f11c96e08e2
          description: SaaS ID
      required:
        - tenant_id
        - env_id
        - saas_id
    Role:
      title: 役割(ロール)
      type: object
      description: 役割(ロール)情報
      properties:
        role_name:
          type: string
          example: admin
          description: 役割(ロール)名
        display_name:
          type: string
          example: 管理者
          description: 役割(ロール)表示名
      required:
        - role_name
        - display_name
    Roles:
      title: 役割(ロール)一覧
      type: object
      properties:
        roles:
          type: array
          items:
            $ref: '#/components/schemas/Role'
      required:
        - roles
    Tenant:
      title: テナント情報
      type: object
      allOf:
        - properties:
            id:
              $ref: '#/components/schemas/Uuid'
              description: テナントID
            plan_id:
              $ref: '#/components/schemas/Uuid'
              description: 料金プランID
            billing_info:
              $ref: '#/components/schemas/BillingInfo'
              description: 請求先情報
          required:
            - id
        - $ref: '#/components/schemas/TenantProps'
        - $ref: '#/components/schemas/PlanReservation'
        - $ref: '#/components/schemas/PlanHistories'
    TenantDetail:
      title: テナント詳細情報
      type: object
      allOf:
        - properties:
            current_plan_period_start:
              type: integer
              example: 1672531200
              description: 現在のプランの開始日時
            current_plan_period_end:
              type: integer
              example: 1675209600
              description: 現在のプランの終了日時
        - $ref: '#/components/schemas/Tenant'
    TenantProps:
      type: object
      properties:
        name:
          type: string
          example: Anti-Pattern Inc.
          description: テナント名
        attributes:
          type: object
          additionalProperties: true
          example:
            address: 東京都
            employee_number: 100
          description: 属性情報
        back_office_staff_email:
          type: string
          example: hoge@example.com
          description: 事務管理部門スタッフメールアドレス
      required:
        - name
        - attributes
        - back_office_staff_email
    PlanReservation:
      title: テナントのプラン予約情報
      type: object
      properties:
        next_plan_id:
          $ref: '#/components/schemas/Uuid'
          description: 次回料金プランID
        using_next_plan_from:
          type: integer
          example: 1640995200
          description: >
            次回料金プラン開始日時（stripe連携時、当月月初の0時（UTC）を指定すると当月月初開始のサブスクリプションを作成できます。ex.
            2023年1月の場合は、1672531200 ）
        next_plan_tax_rate_id:
          $ref: '#/components/schemas/Uuid'
          description: 税率ID
        proration_behavior:
          $ref: '#/components/schemas/ProrationBehavior'
          description: プラン変更時の比例配分の挙動
        delete_usage:
          $ref: '#/components/schemas/DeleteUsage'
          description: プラン変更時に現在のサブスクリプションに含まれる従量課金アイテムを削除できます。
    BillingInfo:
      title: テナント請求情報
      type: object
      properties:
        name:
          type: string
          description: 請求用のテナント名
          example: 株式会社テストテナント
        address:
          $ref: '#/components/schemas/BillingAddress'
        invoice_language:
          $ref: '#/components/schemas/InvoiceLanguage'
      required:
        - name
        - address
        - invoice_language
    InvoiceLanguage:
      type: string
      description: 請求書の言語
      enum:
        - ja-JP
        - en-US
    BillingAddress:
      title: テナントの請求先住所
      properties:
        street:
          type: string
          description: 住所の通りの名前や番地を含めた部分
          example: 神宮前1-1-1
        city:
          type: string
          description: 住所の市区町村
          example: 渋谷区
        state:
          type: string
          description: 住所の都道府県または州
          example: 東京都
        country:
          type: string
          pattern: ^[A-Z]{2}$
          description: 住所の国を ISO 3166-1 alpha-2 コードで指定します。
          example: JP
        additional_address_info:
          type: string
          description: 建物名・部屋番号などの住所に関する追加情報
          example: オフィスビル3階
        postal_code:
          type: string
          description: 郵便番号
          example: 123-4567
      required:
        - street
        - city
        - state
        - country
        - postal_code
    Tenants:
      title: テナント一覧
      type: object
      description: テナント情報
      properties:
        tenants:
          type: array
          items:
            $ref: '#/components/schemas/Tenant'
      required:
        - tenants
    CreateTenantParam:
      title: テナントの新規作成パラメータ
      $ref: '#/components/schemas/TenantProps'
    UpdateTenantParam:
      title: テナントの更新パラメータ
      $ref: '#/components/schemas/TenantProps'
    UpdateTenantPlanParam:
      title: テナントのプラン情報更新パラメータ
      $ref: '#/components/schemas/PlanReservation'
    UpdateTenantBillingInfoParam:
      title: テナントの請求先情報更新パラメータ
      $ref: '#/components/schemas/BillingInfo'
    UserAvailableTenant:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/Uuid'
          description: テナントID
        name:
          type: string
          example: Anti-Pattern Inc.
          description: テナント名
        completed_sign_up:
          type: boolean
          example: true
        envs:
          type: array
          description: 環境情報、役割(ロール)情報
          items:
            $ref: '#/components/schemas/UserAvailableEnv'
        user_attribute:
          type: object
          additionalProperties: true
          example:
            address: 東京都
            employee_number: 100
          description: ユーザー追加属性
        back_office_staff_email:
          type: string
          example: hoge@example.com
          description: バックオフィス担当者のメール
        plan_id:
          title: テナントが契約している料金プランのID
          $ref: '#/components/schemas/Uuid'
          description: 料金プランID
        is_paid:
          type: boolean
          description: |
            テナントの支払い状況
            ※ 現在はストライプ連携時のみ返却されます。
          example: true
      required:
        - id
        - name
        - completed_sign_up
        - envs
        - user_attribute
        - back_office_staff_email
    UserAvailableEnv:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/Id'
          description: 環境ID
        name:
          type: string
          description: 環境名
          example: SaaSus dev
        display_name:
          type: string
          description: 環境表示名
          example: SaaSus dev
        roles:
          type: array
          description: 役割(ロール)情報
          items:
            $ref: '#/components/schemas/Role'
      required:
        - id
        - name
        - roles
    Error:
      properties:
        type:
          type: string
          description: permission_denied
        message:
          type: string
          description: Error message
        data:
          type: object
          additionalProperties: true
          example:
            sign_in_page_url: auth.dev.saasus.io
      required:
        - type
        - message
    NotificationMessages:
      type: object
      properties:
        sign_up:
          $ref: '#/components/schemas/MessageTemplate'
          description: ログイン時メール
        create_user:
          $ref: '#/components/schemas/MessageTemplate'
          description: 新規ユーザーへの一時パスワード送信メール
        resend_code:
          $ref: '#/components/schemas/MessageTemplate'
          description: 既存ユーザーへの確認コード再送メール
        forgot_password:
          $ref: '#/components/schemas/MessageTemplate'
          description: 忘れたパスワードのリクエスト用の確認コード送信メール
        update_user_attribute:
          $ref: '#/components/schemas/MessageTemplate'
          description: 既存ユーザーへの確認コード再送メール
        verify_user_attribute:
          $ref: '#/components/schemas/MessageTemplate'
          description: 確認メール
        authentication_mfa:
          $ref: '#/components/schemas/MessageTemplate'
          description: 認証時の MFA コード送信メール
        invite_tenant_user:
          $ref: '#/components/schemas/MessageTemplate'
          description: テナントへのユーザー招待メール
        verify_external_user:
          $ref: '#/components/schemas/MessageTemplate'
          description: 外部アカウントのユーザー検証メール
      required:
        - sign_up
        - create_user
        - resend_code
        - forgot_password
        - update_user_attribute
        - verify_user_attribute
        - authentication_mfa
        - invite_tenant_user
        - verify_external_user
    MessageTemplate:
      type: object
      properties:
        subject:
          type: string
          example: Verify your new account
          description: タイトル
        message:
          type: string
          example: The verification code to your new account is {####}
          description: メッセージ
      required:
        - subject
        - message
    UpdateNotificationMessagesParam:
      type: object
      properties:
        sign_up:
          $ref: '#/components/schemas/MessageTemplate'
          description: ログイン時メール
        create_user:
          $ref: '#/components/schemas/MessageTemplate'
          description: 新規ユーザーへの一時パスワード送信メール
        resend_code:
          $ref: '#/components/schemas/MessageTemplate'
          description: 既存ユーザーへの確認コード再送メール
        forgot_password:
          $ref: '#/components/schemas/MessageTemplate'
          description: 忘れたパスワードのリクエスト用の確認コード送信メール
        update_user_attribute:
          $ref: '#/components/schemas/MessageTemplate'
          description: 既存ユーザーへの確認コード再送メール
        verify_user_attribute:
          $ref: '#/components/schemas/MessageTemplate'
          description: 確認メール
        authentication_mfa:
          $ref: '#/components/schemas/MessageTemplate'
          description: 認証時の MFA コード送信メール
        invite_tenant_user:
          $ref: '#/components/schemas/MessageTemplate'
          description: テナントへのユーザー招待メール
        verify_external_user:
          $ref: '#/components/schemas/MessageTemplate'
          description: 外部アカウントのユーザー検証メール
    IdentityProviders:
      type: object
      properties:
        google:
          $ref: '#/components/schemas/IdentityProviderProps'
      required:
        - google
    IdentityProviderProps:
      type: object
      properties:
        application_id:
          type: string
          example: 1234567890123456
        application_secret:
          type: string
          example: 123456789b00def123456a12345678d1
        approval_scope:
          type: string
          example: profile email openid
        is_button_hidden:
          type: boolean
          example: false
      required:
        - application_id
        - application_secret
        - approval_scope
    UpdateIdentityProviderParam:
      type: object
      properties:
        provider:
          $ref: '#/components/schemas/ProviderName'
        identity_provider_props:
          description: >-
            identity_provider_propsがnullの場合は、providerで指定された外部IDプロバイダのサインイン情報を無効化する。
          $ref: '#/components/schemas/IdentityProviderProps'
      required:
        - provider
    ProviderName:
      type: string
      enum:
        - Google
      example: Google
    ProviderType:
      type: string
      enum:
        - SAML
      example: SAML
    TenantIdentityProviders:
      title: テナント毎の外部IDプロバイダ一覧
      type: object
      properties:
        saml:
          type: object
          allOf:
            - properties:
                sign_in_url:
                  type: string
                  example: https://example.com/sign-in/saml/1234567890123456
              required:
                - sign_in_url
            - $ref: '#/components/schemas/IdentityProviderSaml'
    UpdateTenantIdentityProviderParam:
      title: テナント毎の外部IDプロバイダ更新パラメータ
      type: object
      description: >
        identity_provider_propsがnullの場合は、provider_typeで指定された外部IDプロバイダのサインイン情報を無効化します。
      properties:
        provider_type:
          $ref: '#/components/schemas/ProviderType'
        identity_provider_props:
          $ref: '#/components/schemas/TenantIdentityProviderProps'
      required:
        - provider_type
    TenantIdentityProviderProps:
      title: テナント毎の外部IDプロバイダ
      type: object
      oneOf:
        - $ref: '#/components/schemas/IdentityProviderSaml'
    IdentityProviderSaml:
      title: SAML外部IDプロバイダ
      type: object
      properties:
        metadata_url:
          type: string
          example: https://example.com/saml/metadata
        email_attribute:
          type: string
          example: email
      required:
        - metadata_url
        - email_attribute
    SignInSettings:
      type: object
      properties:
        password_policy:
          $ref: '#/components/schemas/PasswordPolicy'
        device_configuration:
          $ref: '#/components/schemas/DeviceConfiguration'
        mfa_configuration:
          $ref: '#/components/schemas/MfaConfiguration'
        recaptcha_props:
          $ref: '#/components/schemas/RecaptchaProps'
        account_verification:
          $ref: '#/components/schemas/AccountVerification'
        self_regist:
          $ref: '#/components/schemas/SelfRegist'
        identity_provider_configuration:
          $ref: '#/components/schemas/IdentityProviderConfiguration'
      required:
        - password_policy
        - device_configuration
        - mfa_configuration
        - recaptcha_props
        - account_verification
        - self_regist
        - identity_provider_configuration
    PasswordPolicy:
      type: object
      description: パスワードポリシー
      properties:
        minimum_length:
          type: integer
          x-go-type: uint64
          example: 10
          description: 最小文字数
        is_require_lowercase:
          type: boolean
          example: true
          description: 一文字以上の小文字を含むが設定されているか
        is_require_numbers:
          type: boolean
          example: true
          description: 一文字以上の数字を含むが設定されているか
        is_require_symbols:
          type: boolean
          example: true
          description: 一文字以上の特殊文字を含むが設定されているか
        is_require_uppercase:
          type: boolean
          example: true
          description: 一文字以上の大文字を含むが設定されているか
        temporary_password_validity_days:
          type: integer
          x-go-type: uint64
          example: 10
          description: 仮パスワードの有効期限
      required:
        - minimum_length
        - is_require_lowercase
        - is_require_numbers
        - is_require_symbols
        - is_require_uppercase
        - temporary_password_validity_days
    DeviceConfiguration:
      type: object
      description: 信頼済みデバイスの記憶の設定
      properties:
        device_remembering:
          type: string
          enum:
            - always
            - userOptIn
            - 'no'
          example: always
          description: |
            always: 常に記憶する
            userOptIn: ユーザーオプトイン
            no: 記録しない
      required:
        - device_remembering
    AccountVerification:
      type: object
      description: |
        アカウント認証設定
        ※ 未提供の機能のため、変更・保存はできません。
      properties:
        verification_method:
          type: string
          enum:
            - code
            - link
          example: code
          description: |
            code: 検証コード
            link: 検証リンク
            ※ 未提供の機能のため、変更・保存はできません
        sending_to:
          type: string
          enum:
            - email
            - sms
            - smsOrEmail
          example: email
          description: |
            email: Eメール
            sms: SMS
            smsOrEmail: SMS不可の場合にEメール
      required:
        - verification_method
        - sending_to
    UpdateSignInSettingsParam:
      type: object
      properties:
        password_policy:
          $ref: '#/components/schemas/PasswordPolicy'
        device_configuration:
          $ref: '#/components/schemas/DeviceConfiguration'
        mfa_configuration:
          $ref: '#/components/schemas/MfaConfiguration'
        recaptcha_props:
          $ref: '#/components/schemas/RecaptchaProps'
        account_verification:
          $ref: '#/components/schemas/AccountVerification'
        self_regist:
          $ref: '#/components/schemas/SelfRegist'
    MfaConfiguration:
      type: object
      description: |
        MFAデバイス認証設定
        ※ 未提供の機能のため、変更・保存はできません
      properties:
        mfa_configuration:
          type: string
          enum:
            - 'on'
            - optional
          example: 'on'
          description: |
            on: 全ユーザーがログイン時に適用
            optional: MFA要素が有効になっている個別ユーザーに適用
            ※ パラメータは現在optionalで固定となります。
      required:
        - mfa_configuration
    RecaptchaProps:
      type: object
      description: |
        reCAPTCHA認証設定
        ※ 未提供の機能のため、変更・保存はできません。
      properties:
        site_key:
          type: string
          example: ede66c43-9b9d-4222-93ed-5f11c96e08e2
          description: サイトキー
        secret_key:
          type: string
          example: d5794b1b-5f92-4dc6-aa48-085dbb08b813
          description: シークレットキー
      required:
        - site_key
        - secret_key
    IdentityProviderConfiguration:
      title: 外部IDプロバイダ設定
      type: object
      description: |
        外部IDプロバイダを利用したサインインの設定をするために必要な情報です。
        変更はできません。
      properties:
        domain:
          type: string
          description: ドメイン
        redirect_url:
          type: string
          description: リダイレクトURL
        entity_id:
          type: string
          description: 識別子
        reply_url:
          type: string
          description: 応答URL
      required:
        - domain
        - redirect_url
        - entity_id
        - reply_url
    CreateEnvParam:
      title: 環境の作成パラメータ
      $ref: '#/components/schemas/Env'
    UpdateEnvParam:
      title: 環境の更新パラメータ
      type: object
      properties:
        name:
          type: string
          example: saasus_dev
          description: 環境名
        display_name:
          type: string
          example: SaaSus dev
          description: 環境表示名
      required:
        - name
    Env:
      title: 環境情報
      description: 環境情報
      type: object
      properties:
        id:
          $ref: '#/components/schemas/Id'
          description: 環境ID
        name:
          type: string
          example: saasus_dev
          description: 環境名
        display_name:
          type: string
          example: SaaSus dev
          description: 環境表示名
      required:
        - id
        - name
    Envs:
      title: 環境情報
      description: env一覧
      type: object
      properties:
        envs:
          type: array
          items:
            $ref: '#/components/schemas/Env'
      required:
        - envs
    CustomizePages:
      type: object
      properties:
        sign_up_page:
          $ref: '#/components/schemas/CustomizePageProps'
          description: 新規登録画面
        sign_in_page:
          $ref: '#/components/schemas/CustomizePageProps'
          description: ログイン画面
        password_reset_page:
          $ref: '#/components/schemas/CustomizePageProps'
          description: パスワードリセット画面
      required:
        - sign_up_page
        - sign_in_page
        - password_reset_page
    CustomizePageProps:
      type: object
      properties:
        html_contents:
          type: string
          example: <html><div>画面内容</div></html>
          description: |
            画面のHTMLを編集できます
            ※ 未提供の機能のため、変更・保存はできません
        is_terms_of_service:
          type: boolean
          example: true
          description: 利用規約の同意チェックボックスを表示するが設定されているか
        is_privacy_policy:
          type: boolean
          example: true
          description: プライバシーポリシーチェックボックスを表示するが設定されているか
      required:
        - html_contents
        - is_terms_of_service
        - is_privacy_policy
    UpdateCustomizePagesParam:
      type: object
      properties:
        sign_up_page:
          $ref: '#/components/schemas/CustomizePageProps'
          description: 新規登録画面
        sign_in_page:
          $ref: '#/components/schemas/CustomizePageProps'
          description: ログイン画面
        password_reset_page:
          $ref: '#/components/schemas/CustomizePageProps'
          description: パスワードリセット画面
    SelfRegist:
      type: object
      description: セルフサインアップを許可設定
      properties:
        enable:
          type: boolean
          example: true
      required:
        - enable
    CustomizePageSettingsProps:
      type: object
      properties:
        title:
          type: string
          example: SaaSus
          description: サービス名
        terms_of_service_url:
          type: string
          example: http://dev.example.com/terms
          description: 利用規約URL
        privacy_policy_url:
          type: string
          example: http://dev.example.com/privacy
          description: プライバシーポリシーURL
        google_tag_manager_container_id:
          type: string
          example: GTM-XXXXXXX
          description: Google Tag Manager コンテナ ID
      required:
        - title
        - terms_of_service_url
        - privacy_policy_url
        - google_tag_manager_container_id
    CustomizePageSettings:
      type: object
      allOf:
        - properties:
            icon:
              type: string
              example: http://icon.example.com
              description: サービスアイコン
            favicon:
              type: string
              example: http://icon.example.com
              description: ファビコン
          required:
            - icon
            - favicon
        - $ref: '#/components/schemas/CustomizePageSettingsProps'
    UpdateCustomizePageSettingsParam:
      type: object
      allOf:
        - properties:
            icon:
              type: string
              format: base64
              example: data:image/png;base64,ZDMiIHN0UmVmOmRvY3VtZW50SUQ9Inhtc==
              description: サービスアイコン
            favicon:
              type: string
              format: base64
              example: data:image/png;base64,ZDMiIHN0UmVmOmRvY3VtZW50SUQ9Inhtc==
              description: ファビコン
          required:
            - icon
            - favicon
        - $ref: '#/components/schemas/CustomizePageSettingsProps'
    PlanHistory:
      type: object
      properties:
        plan_id:
          $ref: '#/components/schemas/Uuid'
          description: 料金プランID
        plan_applied_at:
          type: integer
          example: 1640995200
          description: 登録日時
        tax_rate_id:
          $ref: '#/components/schemas/Uuid'
          description: 税率ID
        proration_behavior:
          $ref: '#/components/schemas/ProrationBehavior'
          description: プラン変更時の比例配分の挙動設定
        delete_usage:
          $ref: '#/components/schemas/DeleteUsage'
          description: stripe連携をしている場合で、プラン変更時に現在のサブスクリプションに含まれる従量課金アイテムを削除できます。
      required:
        - plan_id
        - plan_applied_at
    PlanHistories:
      type: object
      properties:
        plan_histories:
          type: array
          items:
            $ref: '#/components/schemas/PlanHistory'
          description: 料金プラン履歴
      required:
        - plan_histories
    ClientSecret:
      title: ClientSecret
      type: object
      properties:
        client_secret:
          type: string
          description: クライアントシークレット
          example: d9eH6xcJ5OU4tUff
      required:
        - client_secret
    Credentials:
      title: 認証・認可情報
      type: object
      properties:
        id_token:
          title: IDトークン
          description: IDトークン
          type: string
        access_token:
          title: アクセストークン
          description: アクセストークン
          type: string
        refresh_token:
          title: リフレッシュトークン
          description: リフレッシュトークン
          type: string
      required:
        - id_token
        - access_token
    CreateAuthCredentialsParam:
      title: 認証・認可情報の保存パラメータ
      $ref: '#/components/schemas/Credentials'
    AuthorizationTempCode:
      type: object
      properties:
        code:
          title: 認証・認可情報取得のための認可コード
          description: 一時コード
          $ref: '#/components/schemas/Uuid'
      required:
        - code
    CreateSecretCodeParam:
      title: 認証アプリケーション登録用のシークレットコード作成パラメータ
      type: object
      properties:
        access_token:
          title: アクセストークン
          description: アクセストークン
          type: string
      required:
        - access_token
    SoftwareTokenSecretCode:
      title: 認証アプリケーション登録用のシークレットコード
      type: object
      properties:
        secret_code:
          title: シークレットコード
          description: シークレットコード
          type: string
      required:
        - secret_code
    UpdateSoftwareTokenParam:
      title: 認証アプリケーションの登録パラメータ
      type: object
      properties:
        access_token:
          title: アクセストークン
          description: アクセストークン
          type: string
        verification_code:
          title: 検証コード
          description: 検証コード
          type: string
      required:
        - access_token
        - verification_code
[...]
