openapi: 3.0.0
info:
  description: SaaSus Analysis API Schema
  version: 1.0.0
  title: SaaSus Analysis API Schema
  contact:
    name: Anti-Pattern
servers:
  - url: https://api.saasus.io/v1/analysis
    description: Production API Server
tags:
  - name: userAnalysis
    description: ユーザの行動分析
  - name: metrics
    description: メトリクス分析
security:
  - Bearer: []
paths:
  /user-behavior-day:
    put:
      tags:
        - userAnalysis
      operationId: UpdateUserBehaviorHistoriesByDay
      summary: 当日のユーザ行動履歴を更新
      description: |
        当日のユーザ行動履歴を更新します。
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUserBehaviorHistoriesByDayParam"
      responses:
        "200":
          description: OK
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  "/users/{user_id}/behavior-histories":
    get:
      tags:
        - userAnalysis
      operationId: GetUserBehaviorHistories
      summary: 過去1ヶ月のユーザ行動履歴を取得します
      description: |
        過去1ヶ月のユーザ行動履歴を取得します
      parameters:
        - $ref: "#/components/parameters/UserId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserBehaviorHistories"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /active-users:
    get:
      tags:
        - userAnalysis
      operationId: GetActiveUsers
      summary: 日次または月次のアクティブユーザー数を取得
      description: |
        日次または月次のアクティブユーザー数を取得します。
      parameters:
        - $ref: "#/components/parameters/ActiveUsersType"
        - $ref: "#/components/parameters/DateFrom"
        - $ref: "#/components/parameters/DateTo"
        - $ref: "#/components/parameters/TenantId"
        - $ref: "#/components/parameters/EnvId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActiveUsers"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    put:
      tags:
        - userAnalysis
      operationId: UpdateActiveUsers
      summary: アクティブユーザーデータの追加・更新
      description: |
        日次または月次のアクティブユーザーデータを追加・更新します。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateActiveUsersParam"
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /metrics/aggregated:
    get:
      tags:
        - metrics
      operationId: GetAggregatedMetrics
      summary: 集計されたメトリクスを取得
      description: |
        メトリクスタイプと期間を指定して集計されたメトリクスを取得します。
      parameters:
        - $ref: "#/components/parameters/MetricsType"
        - $ref: "#/components/parameters/StartDate"
        - $ref: "#/components/parameters/EndDate"
        - $ref: "#/components/parameters/TenantIds"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AggregatedMetrics"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /metrics/page-statistics:
    get:
      tags:
        - metrics
      operationId: GetPageStatistics
      summary: ページ統計情報を取得
      description: |
        指定された期間のページ統計情報を取得します。
      parameters:
        - in: query
          name: start_timestamp
          description: Start timestamp of statistics period (UNIX timestamp)
          required: true
          schema:
            type: integer
            example: 1701388800
        - in: query
          name: end_timestamp
          description: End timestamp of statistics period (UNIX timestamp)
          required: true
          schema:
            type: integer
            example: 1704067199
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                title: ページ統計情報
                $ref: "#/components/schemas/PageStatistics"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /userinfo/aggregated:
    get:
      tags:
        - metrics
      operationId: GetAggregatedUserInfo
      summary: テナント別のGetUserInfo実行数を取得
      description: |
        期間とテナントIDを指定してGetUserInfo APIの日別実行数を取得します。
      parameters:
        - $ref: "#/components/parameters/StartDate"
        - $ref: "#/components/parameters/EndDate"
        - $ref: "#/components/parameters/TenantIds"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AggregatedUserInfoMetrics"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
components:
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
      description: APIへのアクセス情報または認証情報
  parameters:
    UserId:
      in: path
      name: user_id
      description: ユーザーID
      schema:
        type: string
        example: f94bfffc-8be2-11ec-b41a-0242ac120004
      required: true
    ActiveUsersType:
      in: query
      name: type
      description: アクティブユーザーデータのタイプ（月次または日次）
      schema:
        type: string
        enum:
          - monthly
          - daily
      required: true
    DateFrom:
      in: query
      name: date_from
      description: 開始日（月次の場合はYYYY-MM、日次の場合はYYYY-MM-DD）
      schema:
        type: string
        example: 2025-01
      required: true
    DateTo:
      in: query
      name: date_to
      description: 終了日（月次の場合はYYYY-MM、日次の場合はYYYY-MM-DD）。任意。
      schema:
        type: string
        example: 2025-12
      required: false
    TenantId:
      in: query
      name: tenant_id
      description: テナントID（任意）
      schema:
        $ref: "#/components/schemas/Uuid"
      required: false
    EnvId:
      in: query
      name: env_id
      description: 環境ID（任意、tenant_idが必要）
      schema:
        $ref: "#/components/schemas/Id"
      required: false
    MetricsType:
      in: query
      name: metrics_type
      description: メトリクスタイプ
      required: true
      schema:
        type: string
        enum:
          - create_tenant
          - create_saas_user
          - create_tenant_user
        example: create_tenant
    StartDate:
      in: query
      name: start_date
      description: 開始日（YYYY-MM-DD）
      required: true
      schema:
        type: string
        example: 2025-01-01
    EndDate:
      in: query
      name: end_date
      description: 終了日（YYYY-MM-DD）
      required: true
      schema:
        type: string
        example: 2025-01-31
    TenantIds:
      in: query
      name: tenant_ids
      description: テナントID
      required: false
      schema:
        type: array
        items:
          type: string
          example: f94bfffc-8be2-11ec-b41a-0242ac120004
  schemas:
    Error:
      properties:
        type:
          type: string
          example: permission_denied
        message:
          type: string
          example: エラーメッセージ
      required:
        - type
        - message
    Id:
      type: integer
      x-go-type: uint64
      example: 1
    Uuid:
      type: string
      example: 69e732d6-8ecc-45c4-c2eb-8438f7ffe775
    UpdateUserBehaviorHistoriesByDayParam:
      type: object
      properties:
        timestamp:
          title: 更新対象日
          description: 更新対象日
          type: integer
          example: 1640995200
        user_id:
          title: ユーザーID
          description: ユーザーID
          $ref: "#/components/schemas/Uuid"
        histories:
          type: array
          items:
            $ref: "#/components/schemas/UserBehaviorHistory"
          description: ユーザの行動履歴一覧
      required:
        - timestamp
        - user_id
        - histories
    UserBehaviorHistory:
      type: object
      properties:
        timestamp:
          title: 行動履歴のタイムスタンプ
          description: 行動履歴のタイムスタンプ
          type: integer
          example: 1640995200
        referer:
          title: リファラー
          description: リクエスト元のURL
          type: string
          example: https://examaple.com/examaple
      required:
        - timestamp
        - referer
    UserBehaviorHistories:
      title: ユーザ行動履歴
      type: object
      properties:
        histories:
          type: array
          items:
            $ref: "#/components/schemas/DailyBehaviorHistory"
          description: ユーザの行動履歴一覧
      required:
        - histories
    DailyBehaviorHistory:
      title: 日毎のユーザ行動履歴
      type: object
      properties:
        behaved_at:
          title: 行動履歴日
          description: 行動履歴日
          type: integer
          example: 1640995200
        histories:
          type: array
          items:
            $ref: "#/components/schemas/UserBehaviorHistory"
          description: ユーザの行動履歴一覧
      required:
        - behaved_at
        - histories
    ActiveUsers:
      title: アクティブユーザー
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/ActiveUserData"
          description: アクティブユーザーデータ一覧
      required:
        - data
    ActiveUserData:
      title: アクティブユーザーデータ
      type: object
      properties:
        date:
          title: 日付
          description: 日付（月次の場合はYYYY-MM、日次の場合はYYYY-MM-DD）
          type: string
          example: 2025-01
        tenant_id:
          $ref: "#/components/schemas/Uuid"
          description: テナントID
        env_id:
          $ref: "#/components/schemas/Id"
          description: 環境ID
        active_users:
          title: アクティブユーザー数
          description: アクティブユーザー数
          type: integer
          example: 100
      required:
        - date
        - tenant_id
        - env_id
        - active_users
    UpdateActiveUsersParam:
      title: アクティブユーザー更新パラメータ
      type: object
      properties:
        type:
          title: タイプ
          description: アクティブユーザーデータのタイプ（月次または日次）
          type: string
          enum:
            - daily
            - monthly
          example: daily
        date:
          title: 日付
          description: 日付（月次の場合はYYYY-MM、日次の場合はYYYY-MM-DD）
          type: string
          example: 2025-01-01
        tenant_id:
          $ref: "#/components/schemas/Uuid"
          description: テナントID
        env_id:
          $ref: "#/components/schemas/Id"
          description: 環境ID
        active_users:
          title: アクティブユーザー数
          description: アクティブユーザー数
          type: integer
          example: 100
      required:
        - type
        - date
        - tenant_id
        - env_id
        - active_users
    AggregatedMetrics:
      title: 集計されたメトリクス
      type: object
      properties:
        metrics:
          type: array
          items:
            $ref: "#/components/schemas/DailyMetric"
          description: 日別メトリクス一覧
      required:
        - metrics
    DailyMetric:
      title: 日別メトリクス
      type: object
      properties:
        date:
          title: 日付
          description: 日付（YYYY-MM-DD）
          type: string
          example: 2025-01-01
        count:
          title: 件数
          description: その日の総件数
          type: integer
          example: 100
        details:
          title: テナント別詳細
          description: テナントID別の詳細（create_tenant_userのみ）
          type: object
          additionalProperties:
            type: integer
          example:
            19045586-d4b0-418a-8e51-b6346380cd63: 40
            fa3018b1-1be3-49ca-9ea7-d6d657d0f878: 60
      required:
        - date
        - count
    PageStatistics:
      title: ページ統計情報
      type: object
      properties:
        start_date:
          type: integer
          description: Start date of statistics period (UNIX timestamp)
          example: 1701388800
        end_date:
          type: integer
          description: End date of statistics period (UNIX timestamp)
          example: 1704067199
        total_page_views:
          type: integer
          description: Total page views during the period
          example: 15420
        total_unique_users:
          type: integer
          description: Number of unique users during the period
          example: 1234
        page_statistics:
          type: array
          description: Statistics for each page
          items:
            $ref: "#/components/schemas/PageStatistic"
      required:
        - start_date
        - end_date
        - total_page_views
        - total_unique_users
        - page_statistics
    PageStatistic:
      title: ページ統計
      type: object
      properties:
        page_url:
          type: string
          description: Page URL
          example: https://example.com/dashboard
        total_views:
          type: integer
          description: Page views
          example: 3450
        unique_users:
          type: integer
          description: Unique users
          example: 856
      required:
        - page_url
        - total_views
        - unique_users
    AggregatedUserInfoMetrics:
      title: 集計されたGetUserInfo実行数
      type: object
      properties:
        metrics:
          type: array
          items:
            $ref: "#/components/schemas/DailyUserInfoMetric"
          description: 日別GetUserInfo実行数一覧
      required:
        - metrics
    DailyUserInfoMetric:
      title: 日別GetUserInfo実行数
      type: object
      properties:
        date:
          title: 日付
          description: 日付（YYYY-MM-DD）
          type: string
          example: 2025-01-01
        details:
          title: テナント別詳細
          description: テナントID別のGetUserInfo実行数
          type: object
          additionalProperties:
            type: integer
          example:
            00000000-0000-0000-0000-000000000000: 1460
            0d7de8a8-1234-5678-9abc-def012345678: 1040
            252a9f83-1234-5678-9abc-def012345678: 930
      required:
        - date
        - details

