openapi: 3.0.0
info:
  description: SaaSus ApiGateway API Schema
  version: 1.0.0
  title: SaaSus ApiGateway API Schema
  contact:
    name: Anti-Pattern
servers:
  - url: https://api.saasus.io/v1/apigateway
    description: Production API Server
tags:
  - name: apiGateway
    description: SaaSus API ゲートウェイ管理
  - name: error
    description: テスト用途のエラー
security:
  - Bearer: []
paths:
  /settings:
    get:
      tags:
        - apiGateway
      operationId: GetApiGatewaySettings
      summary: ApiGateway機能の設定情報取得します
      description: |
        ApiGateway機能の設定情報取得します
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiGatewaySettings"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    patch:
      tags:
        - apiGateway
      operationId: UpdateApiGatewaySettings
      summary: ApiGateway機能の設定情報更新します
      description: |
        ApiGateway機能の設定情報更新します
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateApiGatewaySettingsParam"
      responses:
        "200":
          description: OK
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /create:
    post:
      tags:
        - apiGateway
      operationId: CreateApiGateway
      summary: API Gatewayを作成します
      description: |
        API Gatewayを作成します
      responses:
        "200":
          description: OK
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  "/tenants/{tenant_id}/api-key":
    post:
      tags:
        - apiGateway
      operationId: CreateApiKey
      summary: APIキーを作成します
      description: |
        APIキーを作成します
      parameters:
        - $ref: "#/components/parameters/TenantId"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKey"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    get:
      tags:
        - apiGateway
      operationId: GetApiKey
      summary: APIキーを取得します
      description: |
        APIキーを取得します
      parameters:
        - $ref: "#/components/parameters/TenantId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKey"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /publish:
    post:
      tags:
        - apiGateway
      operationId: PublishApiGateway
      summary: API Gatewayを公開します
      description: |
        API Gatewayを公開します
      responses:
        "200":
          description: OK
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /unpublish:
    post:
      tags:
        - apiGateway
      operationId: UnpublishApiGateway
      summary: API Gatewayを非公開にします
      description: |
        API Gatewayを非公開にします
      responses:
        "200":
          description: OK
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /upload:
    post:
      tags:
        - apiGateway
      operationId: UploadGenerationFiles
      summary: API Gatewayを作成するファイルをアップロードします
      description: |
        API Gatewayを作成するファイルをアップロードします
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApiGatewayInputFile"
      responses:
        "200":
          description: OK
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /cloudformation-launch-stack-link:
    get:
      tags:
        - apiGateway
      operationId: GetCloudFormationLaunchStackLink
      summary: AWS CloudFormationのスタック作成リンクを取得
      description: |
        CloudFormationのクイック作成リンクを取得します。
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CloudFormationLaunchStackLink"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /errors/internal-server-error:
    get:
      tags:
        - error
      operationId: ReturnInternalServerError
      summary: ステータスコード500でサーバーエラーを返却
      description: |
        テスト用途で使用するエンドポイントです。ステータスコード500でサーバーエラーを返却します。
      responses:
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
components:
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
      description: APIへのアクセス情報または認証情報
  parameters:
    TenantId:
      in: path
      name: tenant_id
      description: テナントID
      required: true
      schema:
        $ref: "#/components/schemas/Uuid"
  schemas:
    Error:
      properties:
        type:
          type: string
          example: permission_denied
        message:
          type: string
          example: エラーメッセージ
      required:
        - type
        - message
    Uuid:
      type: string
      example: 69e732d6-8ecc-45c4-c2eb-8438f7ffe775
    ApiGatewaySettings:
      title: ApiGsteway設定
      type: object
      properties:
        generated_file_status:
          title: 自動生成ファイルの状態
          description: Status of automatically generated files
          type: string
          example: finished
        internal_endpoint_openapi_definition_file_download_url:
          title: openapi定義ファイルのダウンロードURL
          description: 自動生成されたopenapi定義ファイルのダウンロードURL。API Gatewayを構築するために使用されます。
          type: string
          example: https://presigned-url-test.s3.ap-northeast-1.amazonaws.com/test.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=xxxxxx%2F20230710%2Fap-northeast-1%2Fs3%2Faws4_request
        internal_endpoint_mapping_file_download_url:
          title: インターナルエンドポイントマッピングファイルのダウンロードURL
          description: 自動生成されたインターナルエンドポイントマッピングファイルのダウンロードURL。API Gatewayを構築するために使用されます。
          type: string
          example: https://presigned-url-test.s3.ap-northeast-1.amazonaws.com/test.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=xxxxxx%2F20230710%2Fap-northeast-1%2Fs3%2Faws4_request
        status:
          title: API Gatewayの作成状態
          description: API Gatewayの作成状態
          type: string
          example: published
        role_arn:
          title: AssumeRoleするためのロールのARN
          description: SaaSus PlatformがAssumeRoleするためのロールのARN
          type: string
          example: arn:aws:iam::123456789012:role/role-name
        role_external_id:
          title: AssumeRoleする時に使用するExternalID
          description: SaaSus PlatformがSaaSを操作するためにAssumeRoleする時に使用するexternal id
          type: string
          example: 1234567890
        internal_endpoint_health_check_path:
          title: インターナルエンドポイントのヘルスチェックパス
          description: インターナルエンドポイントのヘルスチェックに使用するパス
          type: string
          example: /health
        internal_endpoint_health_check_port:
          title: インターナルエンドポイントのヘルスチェックポート
          description: インターナルエンドポイントのヘルスチェックに使用するポート
          type: integer
          example: 80
        internal_endpoint_health_check_protocol:
          title: インターナルエンドポイントのヘルスチェックプロトコル
          description: インターナルエンドポイントのヘルスチェックに使用するプロトコル
          type: string
          example: HTTP or HTTPS
        internal_endpoint_health_status_codes:
          title: インターナルエンドポイントのヘルスチェックステータスコード
          description: インターナルエンドポイントのヘルスチェックに使用するステータスコード
          type: string
          example: 200
        saas_subnet_ids:
          title: SaaSサブネットID
          description: SaaSのサブネットID
          type: array
          items:
            type: string
          example:
            - subnet-1234567890abcdef0
            - subnet-1234567890abcdef1
        saas_vpc_id:
          title: SaaS VPC ID
          description: SaaSのVPC ID
          type: string
          example: vpc-12345678
        allowed_ips:
          title: 許可されたIPアドレス一覧
          description: 許可されたIPアドレス一覧
          type: array
          items:
            type: string
          example:
            - 192.168.0.0/24
            - 172.16.0.0/24
        domain_name:
          type: string
          example: dev.saasus.io
          description: ドメイン名
        is_dns_validated:
          type: boolean
          example: false
          description: DNSレコードの検証結果
        certificate_dns_record:
          $ref: "#/components/schemas/DnsRecord"
          description: 代替ドメイン名
        cloud_front_dns_record:
          $ref: "#/components/schemas/DnsRecord"
          description: Cloud Front DNS レコード
        default_domain_name:
          type: string
          description: デフォルトドメイン名
          example: d78bh0l3saarv.cloudfront.net
        saas_alb_arn:
          title: SaaS アプリケーションロードバランサーARN
          description: SaaS アプリケーションロードバランサーARN
          type: string
          example: arn:aws:elasticloadbalancing:us-west-2:123456789012:loadbalancer/app/my-load-balancer/50dc6c495c0c9188
        endpoint_settings_list:
          title: エンドポイント設定一覧
          description: エンドポイント毎の設定一覧
          type: array
          items:
            $ref: "#/components/schemas/EndpointSettings"
      required:
        - generated_file_status
        - internal_endpoint_openapi_definition_file_download_url
        - internal_endpoint_mapping_file_download_url
        - status
        - role_arn
        - role_external_id
        - internal_endpoint_health_check_path
        - internal_endpoint_health_check_port
        - internal_endpoint_health_check_protocol
        - internal_endpoint_health_status_codes
        - saas_subnet_ids
        - saas_vpc_id
        - allowed_ips
        - domain_name
        - is_dns_validated
        - certificate_dns_record
        - cloud_front_dns_record
        - default_domain_name
        - saas_alb_arn
        - endpoint_settings_list
    UpdateApiGatewaySettingsParam:
      title: ApiGateway設定更新パラメータ
      type: object
      properties:
        role_arn:
          title: AssumeRoleするためのロールのARN
          description: SaaSus PlatformがAssumeRoleするためのロールのARN
          type: string
          example: arn:aws:iam::123456789012:role/role-name
        role_external_id:
          title: AssumeRoleする時に使用するExternalID
          description: SaaSus PlatformがSaaSを操作するためにAssumeRoleする時に使用するexternal id
          type: string
          example: 1234567890
        internal_endpoint_health_check_path:
          title: インターナルエンドポイントのヘルスチェックパス
          description: インターナルエンドポイントのヘルスチェックに使用するパス
          type: string
          example: /health
        internal_endpoint_health_check_port:
          title: インターナルエンドポイントのヘルスチェックポート
          description: インターナルエンドポイントのヘルスチェックに使用するポート
          type: integer
          example: 80
        internal_endpoint_health_check_protocol:
          title: インターナルエンドポイントのヘルスチェックプロトコル
          description: インターナルエンドポイントのヘルスチェックに使用するプロトコル
          type: string
          example: HTTP or HTTPS
        internal_endpoint_health_status_codes:
          title: インターナルエンドポイントのヘルスチェックステータスコード
          description: インターナルエンドポイントのヘルスチェックに使用するステータスコード
          type: string
          example: 200
        saas_subnet_ids:
          title: SaaSサブネットID
          description: SaaSのサブネットID
          type: array
          items:
            type: string
          example:
            - subnet-1234567890abcdef0
            - subnet-1234567890abcdef1
        saas_vpc_id:
          title: SaaS VPC ID
          description: SaaSのVPC ID
          type: string
          example: vpc-12345678
        allowed_ips:
          title: 許可されたIPアドレス一覧
          description: 許可されたIPアドレス一覧
          type: array
          items:
            type: string
          example:
            - 192.168.0.0/24
            - 172.16.0.0/24
        domain_name:
          type: string
          example: dev.saasus.io
          description: ドメイン名
        saas_alb_arn:
          title: SaaS アプリケーションロードバランサーARN
          description: SaaS アプリケーションロードバランサーARN
          type: string
          example: arn:aws:elasticloadbalancing:us-west-2:123456789012:loadbalancer/app/my-load-balancer/50dc6c495c0c9188
        endpoint_settings_list:
          title: エンドポイント設定一覧
          description: エンドポイント毎の設定一覧
          type: array
          items:
            $ref: "#/components/schemas/EndpointSettings"
    ApiGatewayInputFile:
      title: ApiGateway入力ファイル
      type: object
      properties:
        content:
          title: ApiGateway入力ファイルのコンテンツ
          description: API Gatewayを作成するためにアップロードするファイルのコンテンツ
          type: string
          format: base64
          example: UEsDBBQACAAIAJr6oFQmTAuRfvOGAA==
      required:
        - content
    ApiKey:
      title: APIキー
      type: object
      properties:
        api_key:
          title: APIキー
          description: 作成されたAPIキー
          type: string
          example: 1234567890abcdef
      required:
        - api_key
    CloudFormationLaunchStackLink:
      title: AWS CloudFormationスタック作成リンク
      type: object
      properties:
        link:
          type: string
          example: https://us-west-2.console.aws.amazon.com/cloudformation/home?region=us-west-2#/stacks/create?stackName=sample&templateURL=https://s3.us-west-2.amazonaws.com/cloudformation-templates-sample.template
      required:
        - link
    DnsRecord:
      title: DNSレコード
      type: object
      properties:
        type:
          type: string
          description: CNAMEリソースレコード
          enum:
            - CNAME
          example: CNAME
        name:
          type: string
          example: _k90jaskdfawehro.domain-of-saasus-client.com.
          description: レコード名
        value:
          type: string
          example: _cmojwc239j102mosd9.acm-validations.aws.
          description: 値
      required:
        - type
        - name
        - value
    EndpointSettings:
      title: エンドポイント設定
      description: エンドポイント毎の設定
      type: object
      properties:
        path:
          title: パス
          description: パス
          type: string
          example: /users/get-by-id
        method:
          title: メソッド
          description: メソッド
          type: string
          enum:
            - GET
            - HEAD
            - POST
            - PUT
            - PATCH
            - DELETE
            - CONNECT
            - OPTIONS
            - TRACE
          example: GET
        throttling:
          $ref: "#/components/schemas/Throttling"
      required:
        - path
        - method
    Throttling:
      title: スロットリング設定
      type: object
      description: targetごとにrange（秒）の時間内にlimitの回数までリクエストを許可します。
      properties:
        target:
          title: 対象
          description: 制限対象
          type: string
          enum:
            - tenant
            - user
          example: tenant
        range:
          title: 範囲
          description: スロットリングの時間範囲（秒）
          type: integer
          minimum: 60
          maximum: 31536000
          example: 600
        limit:
          title: 上限
          description: スロットリングの上限
          type: integer
          example: 100
      required:
        - target
        - range
        - limit

